.pet-page {
    display: flex;
    flex-direction: column;
    margin: 0 10%; 
    font-size: 1.1rem;
    color: #444;
}

.pet-page .page-return {
    width: 6rem;
    height: 3rem;
    margin: 1rem;
    background: #444;
    color: #fff;
    font-size: 1.2rem;
}

.pet-page .page-title {
    margin-left: 1rem;

}

.pet-page .pet-content {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.pet-page .pet-content .pet-params p {
    padding: .6rem;
}
.pet-page .pet-content .pet-image {
    width: 300px;
    height: 300px;
    background-size: cover;
    margin-right: 1rem;
    object-fit: cover;
}

.pet-page .pet-content .pet-description {
    margin-top: 1rem;
}